@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');
@import 'tailwindcss';

:root {
  --background: #fefefe;
  --secondary: #4e0c10;
  --brand: #ee4217;
  --link: #fdbd17;
  --hover-stroke: #f4afbb4d;
  --primary-stroke: #c41e28;
  --content-inverce: #fafafa;
  --gradient-red-100: linear-gradient(90deg, #c41e28 0%, #f59179 100%);
  --gradient-red: linear-gradient(92.86deg, #f8b3a2 3.43%, #ee4217 115.82%);
  --gradient-red-blur: linear-gradient(154.68deg, #fdac9f 37.14%, #ee4217 90.08%);
  --inset-shadow-red: inset -2px -6px 10px 0 #ba142a, inset 2px 6px 10px 0 #ffffff8c;
  --inset-shadow-red-hover: inset -2px -6px 10px 0 #ffffff8c, inset 2px 6px 10px 0 #ba142a;
  --inset-shadow-yellow: inset -2px -10px 10px 0 #ca840e4d, inset 2px 10px 10px 0 #ffffff7d;
  --inset-shadow-yellow-hover: inset -2px -10px 10px 0 #ffffff7d, inset 2px 10px 10px 0 #ca840e4d;
  --inset-shadow-light-pink: inset -2px -2px 9px 0px #fdac9f, 5px 2px 17px 0px #ffffff8c inset;
  --inset-shadow-light-pink-hover: inset -2px -2px 9px 0 #ffffff8c, inset 5px 2px 17px 0 #fdac9f;
  --font-rethink-sans: 'Rethink Sans', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-secondary: var(--secondary);
  --color-brand: var(--brand);
  --color-link: var(--link);
  --color-hover-stroke: var(--hover-stroke);
  --color-primary-stroke: var(--primary-stroke);
  --color-gradient-red-100: var(--gradient-red-100);
  --color-gradient-red: var(--gradient-red);
  --color-gradient-red-blur: var(--gradient-red-blur);
  --color-content-inverce: var(--content-inverce);
  --inset-shadow-red: var(--inset-shadow-red);
  --inset-shadow-red-hover: var(--inset-shadow-red-hover);
  --inset-shadow-yellow: var(--inset-shadow-yellow);
  --inset-shadow-yellow-hover: var(--inset-shadow-yellow-hover);
  --inset-shadow-light-pink: var(--inset-shadow-light-pink);
  --inset-shadow-light-pink-hover: var(--inset-shadow-light-pink-hover);
  --font-sans: var(--font-rethink-sans);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}

.grid-areas-layout {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
}

.grid-area-header {
  grid-area: header;
}

.grid-area-main {
  grid-area: main;
}

.grid-area-footer {
  grid-area: footer;
}

.body-text {
  @apply text-secondary font-sans text-base md:text-lg;
}

.body-text-small {
  @apply text-secondary font-sans text-base;
}

.body-text-large {
  @apply text-secondary font-sans text-base md:text-2xl;
}

.border-gradient-red {
  background:
    linear-gradient(var(--color-background), var(--color-background)) padding-box,
    var(--color-gradient-red-100) border-box;
  border: 2px solid transparent;
}

.border-gradient-red-thin {
  background:
    linear-gradient(var(--color-background), var(--color-background)) padding-box,
    var(--color-gradient-red-100) border-box;
  border: 1px solid transparent;
}

.border-gradient-red-thin-top {
  background:
    linear-gradient(var(--color-background), var(--color-background)) padding-box,
    var(--color-gradient-red-100) border-box;
  border-top: 1px solid transparent;
}

.bg-gradient-red {
  background: var(--color-gradient-red);
}

.bg-gradient-red-blur {
  background: var(--color-gradient-red-blur);
}

.text-gradient-red {
  background: var(--color-gradient-red);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient-shadow-yellow {
  color: transparent;
  background:
    radial-gradient(ellipse at bottom right, #ca840e4d 0%, transparent 20%),
    radial-gradient(ellipse at top left, #ffffff7d 0%, transparent 80%), var(--color-link);
  background-clip: text;
  -webkit-background-clip: text;
}
