@import 'tailwindcss';

:root {
  --background: #fefefe;
  --secondary: #4e0c10;
  --brand: #ee4217;
  --link: #fdbd17;
  --hover-stroke: #f4afbb4d;
}

@theme inline {
  --color-background: var(--background);
  --color-secondary: var(--secondary);
  --color-brand: var(--brand);
  --color-link: var(--link);
  --color-hover-stroke: var(--hover-stroke);
  --font-sans: var(--font-rethink-sans);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.body-text {
  @apply text-secondary font-rethink-sans text-base md:text-lg;
}

.body-text-small {
  @apply text-secondary font-rethink-sans text-base;
}

.body-text-large {
  @apply text-secondary font-rethink-sans text-base md:text-2xl;
}
